body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 1.5em;
}
.section1 {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}
.header {
  display: flex;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  width: auto;
}
.header-left {
  display: flex;
  align-items: center;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
  font-family: sans-serif;
}
.header-right {
  display: flex;
  align-items: center;
  margin-left: 1000px;
}
.hero {
  display: flex;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  height: 400px;
  width: auto;
}
.hero-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #878c97;
  flex-grow: 1;
  margin-bottom: 100px;
}
.hero-text {
  margin-top: 3px;
  font-family: sans-serif;
  font-size: 18px;
  color: #e5e7eb;
  opacity: 70%;
}
h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
p {
  font-size: 18px;
  color: #e5e7eb;
  word-wrap: wrap;
}
.links {
  font-size: 18px;
  color: #e5e7eb;
  font-family: sans-serif;
  opacity: 70%;
}
button {
  width: 150px;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  color: #e5e7eb;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}
button:hover {
  background-color: #2b579c;
}
.header2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  font-family: sans-serif;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 60px;
}
.placeholder {
  border: 3px solid #2b579c;
  border-radius: 15px;
  padding: 70px;
}
.box-text {
  display: flex;
  text-align: center;
  margin: 0px;
  font-family: sans-serif;
  font-size: 18px;
  color: #1f2937;
  opacity: 70%;
}
.box1 {
  display: flex;
  flex-direction: column;
}
.box2 {
  display: flex;
  flex-direction: column;
}

.box3 {
  display: flex;
  flex-direction: column;
}
.box4 {
  display: flex;
  flex-direction: column;
}
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  height: 350px;
}
.para {
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.author {
  padding-left: 1000px;
  font-weight: bolder;
  font-size: large;
}
.section4 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.action-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  border-radius: 10px;
  background-color: #3882f6;
  margin-left: 400px;
  margin-right: 400px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.action-main,
.action-info {
  font-family: sans-serif;
  color: #ffffff;
}
.action-main {
  margin-bottom: 0px;
}
.action-info {
  margin-top: 0px;
  opacity: 80%;
}
.action-button {
  width: 150px;
  border: solid 1px #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.footer {
  height: 50px;
}
